+++
title = "Data-O"
linkTitle = "Goldydocs"
+++

{{< blocks/cover title="Data-O: 高性能数据系统框架" height="min" color="primary">}}


在整套方案中，我们重新定义了基础设施架构，存储和计算将彻底分开，计算节点将不需要购买存储资源，所有的数据负载将由Data-O进行提供，
通过配置，Data-O 将通过设置master和slave在多个云上形成自己的自冶系统，根据调度或者手工的决策，灵活的调度任务所需的数据集, 从而减少云资源的损耗，提高跨云数据的安全性。

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://antden.marshotspot.com">
		试用 <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
    
    

</div>
{{< /blocks/cover >}}



{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="问答" %}}
你可以在知乎上就Data-O为关键词进行提问，我们将会对其进行解答
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="贡献" url="https://github.com/data-o/" %}}
阅读文档中的如何贡献，对项目进行贡献
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-weixin" title="讨论"  %}}
扫描小助手二维码进群讨论
{{% /blocks/feature %}}


